In [1]:
get_ipython().system('pip install db-sqlite3')
import sqlite3

Collecting db-sqlite3
  Downloading https://files.pythonhosted.org/packages/ff/00/e1f3d7bf1e0bff7c0574c0d5535c041e139d4ce43db196147e4c62f52ed5/db-sqlite3-0.0.1.tar.gz
Collecting db
  Downloading https://files.pythonhosted.org/packages/a9/22/f65d64c83e63790b3273c6adb3bff338ad594f46d84b41bd1f94593b40a6/db-0.1.1.tar.gz
Collecting antiorm
  Downloading https://files.pythonhosted.org/packages/0b/f8/71baa4824d9666c1be51d117119579a97f461ddbded48b2e01a6ad0554b5/antiorm-1.2.1.tar.gz (171kB)
     |████████████████████████████████| 174kB 5.1MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-cp37-none-any.whl size=1796 sha256=5c88d5da21dd9045ba5832d2e4648ad4e974dc651db27ff2859b53eff0412697
  Stored in directory: /root/.cache/pip/wheels/e0/f8/cb/08e3a3a63bdea9ac3a0cccd140636b6cf94e3fb7df1070b12e
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-cp37-none-any.whl size=3894 sha256=8d9c20454cb5da75e0d960b1898c981ffc8836f8976dc7d4fbed6d3db6af36c1
  Stored in directory: /root/.cache/pip/wheels/30/eb/ba/237fa002d1d1b2e73cedcefd26a9db37c4b72c7e5156ea0501
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-cp37-none-any.whl size=31668 sha256=5002be409ce26577ea520aa0f519e826dbce59e5683b606fdf7991286a1a5641
  Stored in directory: /root/.cache/pip/wheels/b0/91/4d/f8fe808786ff1cda9e7e99e1b1bbda9196ab26786017965313
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [2]:
conn=sqlite3.connect('exp2.db')
cur=conn.cursor()
conn=sqlite3.connect('test.db')
print('opened database successfully');

opened database successfully

In [3]:
conn.execute('''CREATE TABLE COMPANY2
            (ID INT PRIMARY KEY  NOT NULL,
            NAME            TEXT NOT NULL,
            AGE             INT  NOT NULL,
            ADDRESS         CHAR(50),
            SALARY          REAL);''')
print("Table created successfully");

Table created successfully

In [4]:
conn.execute("INSERT INTO COMPANY2 (ID,NAME,AGE,ADDRESS,SALARY)            VALUES (1, 'paul',32,'california',20000.00)");
conn.execute("INSERT INTO COMPANY2 (ID,NAME,AGE,ADDRESS,SALARY)            VALUES (2, 'Alien',25,'Texas',30000.00 )");
conn.execute("INSERT INTO COMPANY2 (ID,NAME,AGE,ADDRESS,SALARY)            VALUES (3, 'Teddy',23,'Norway',30000.00 )");
conn.execute("INSERT INTO COMPANY2 (ID,NAME,AGE,ADDRESS,SALARY)            VALUES (4, 'Mark',25,'Rich-Mond',15000.00 )");
conn.commit()
print('Records created successfully');

Records created successfully

In [5]:
for row in conn.execute('select * from COMPANY2'):
    print(row)

(1, 'paul', 32, 'california', 20000.0)
(2, 'Alien', 25, 'Texas', 30000.0)
(3, 'Teddy', 23, 'Norway', 30000.0)
(4, 'Mark', 25, 'Rich-Mond', 15000.0)

In [6]:
conn.commit()

In [7]:
conn.close()